/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';


html,
body {
    height: 100%;
}

h1{
    text-align: center;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.slider {
    appearance: none;
    height: 8px;
    width: 100%;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff8c00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

i {
    cursor: pointer;
}


.dialog{
    background-color: #363636;
  }

<<<<<<< HEAD
  @function rem($value){
    @return unquote(($value/apx)/16+"rem")
}
=======
.mat-dialog-container{
    background: #363636;
    color: white;
}

.mat-button{
    border:none;
    color: #363636;
    background-color: white;
    font-weight: normal;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 3px;
}

.mat-button:hover:enabled {
    color: white;
    background-color: #ff8c00;
}

input:focus, button:focus{
    outline: none;
}
>>>>>>> master
