<ng-container *ngIf="store.stateObs | async as state">
    <app-sidebar [tool]="state.globalState.tool" (toolChange)="store.setTool($event)"></app-sidebar>
    <!-- Modal -->
    <div id="userGuide" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <app-guide></app-guide>
            </div>
        </div>
    </div>

    <!--Will contain option's customizations-->
    <div class="panel" *ngIf="state.globalState.isPanelOpen">
        <div class="panel-title">{{ state.globalState.tool }}</div>
        <!--Put components inside panel-content with ngswitchcase-->
        <div class="panel-content" [ngSwitch]="state.globalState.tool">
            <app-brush
                *ngSwitchCase="'Pinceau'"
                [texture]="state.brushTexture"
                [thickness]="state.globalState.thickness"
                (textureChange)="store.setBrushTexture($event)"
                (thicknessChange)="store.setThickness($event)"
            ></app-brush>
            <app-line
                *ngSwitchCase="'Ligne'"
                [thickness]="state.globalState.thickness"
                [lineHasJunction]="state.lineHasJunction"
                [lineJunctionThickness]="state.lineJunctionThickness"
                (lineJunctionThicknessChange)="store.setLineJunctionThickness($event)"
                (lineHasJunctionChange)="store.setLineHasJunction($event)"
                (thicknessChange)="store.setThickness($event)"
            ></app-line>
            <app-rectangle
                *ngSwitchCase="'Rectangle'"
                [thickness]="state.globalState.thickness"
                [rectangleType]="state.rectangleType"
                (thicknessChange)="store.setThickness($event)"
                (rectangleTypeChange)="store.setRectangleType($event)"
            ></app-rectangle>
            <app-pencil
                *ngSwitchCase="'Crayon'"
                [thickness]="state.globalState.thickness"
                (thicknessChange)="store.setThickness($event)"
            ></app-pencil>
            <app-aerosol
                *ngSwitchCase="'Aérosol'"
                [thickness]="state.globalState.thickness"
                (thicknessChange)="store.setThickness($event)"
                [emissionRate]="state.emissionRate"
                (emissionRateChange)="store.setEmissionRate($event)"
            >
            </app-aerosol>
        </div>

        <app-color-panel
            [firstColor]="state.colorState.firstColor"
            [secondColor]="state.colorState.secondColor"
            [canvasColor]="state.colorState.canvasColor"
            (openColor)="store.setIsSidebarColorOpen(true)"
            (selectedColorChange)="store.selectColor($event)"
            (swapColor)="store.swapColor()"
        ></app-color-panel>
    </div>

    <div class="color-picker" [ngSwitch]="state.colorState.selectedColor" *ngIf="state.colorState.isSidebarColorOpen">
        <app-color
            *ngSwitchCase="'first'"
            [color]="state.colorState.firstColor"
            [lastColors]="state.colorState.lastColors"
            (saveColor)="store.setFirstColor($event, true)"
            (setFirstColor)="store.setFirstColor($event)"
            (setSecondColor)="store.setSecondColor($event)"
            (closeColor)="store.setIsSidebarColorOpen(false)"
        ></app-color>
        <app-color
            *ngSwitchCase="'second'"
            [color]="state.colorState.secondColor"
            [lastColors]="state.colorState.lastColors"
            (saveColor)="store.setSecondColor($event, true)"
            (closeColor)="store.setIsSidebarColorOpen(false)"
            (setFirstColor)="store.setFirstColor($event)"
            (setSecondColor)="store.setSecondColor($event)"
        ></app-color>
        <app-color
            *ngSwitchCase="'canvas'"
            [color]="state.colorState.canvasColor"
            [lastColors]="state.colorState.lastColors"
            (saveColor)="store.setCanvasColor($event, true)"
            (closeColor)="store.setIsSidebarColorOpen(false)"
            (setFirstColor)="store.setFirstColor($event)"
            (setSecondColor)="store.setSecondColor($event)"
        ></app-color>
    </div>

    <div class="workspace" [style.background-color]="state.colorState.workspaceColor.hex()"></div>
    <canvas
        canvas
        class="canvas"
        [ngClass]="{ withPanel: state.globalState.isPanelOpen }"
        [width]="state.canvasState.width"
        [height]="state.canvasState.height"
        [style.background-color]="state.colorState.canvasColor.hex()"
        (toolChange)="store.setTool($event)"
        (canvasHTMLChange)="store.setCanvasHTML($event)"
    ></canvas>
</ng-container>
