<h1 mat-dialog-title>Créer un dessin</h1>
<div mat-dialog-content>
  <form [formGroup]='drawingForm'>
    <label>
      Largeur(px):
      <input type='number' (keydown) = 'toggleIsWidthChanged()' formControlName='width'>
      <div *ngIf = 'width.errors?.required'class="alert alert-danger">
        La largeur est requise
      </div>
      <div *ngIf = 'width.errors?.min'class="alert alert-danger">
        La largeur doit être positive
      </div>
    </label>
    <br>
    <label>
      Longueur(px):
      <input type='number' (keydown) = 'toggleIsHeightChanged()' formControlName='height'>
      <div *ngIf = 'height.errors?.required'class="alert alert-danger">
        La longueur est requise
      </div>
      <div *ngIf = 'height.errors?.min'class="alert alert-danger">
        La longueur doit être positive
      </div>
    </label>
    <br>
    <label *ngIf = '!isHEX'>
      <input type = 'text' value = "(255,255,255)" formControlName = 'rgb'>
      <button [disabled] = 'rgb.errors?.pattern' (click)=changeColor()>OK</button>
      <div *ngIf = 'rgb.errors?.pattern'class="alert alert-danger">
        La couleur doit prendre le format suivant (x,x,x) avec x entre 0 et 255
      </div>
    </label>

    <label *ngIf = 'isHEX'>
      <input type = 'text' value = '#ffffff' formControlName = 'hex' pattern = '#[0-9a-fA-F]{6}'>
      <button [disabled] = 'hex.errors?.pattern' (click)=changeColor()>OK</button>
      <div *ngIf = 'hex.errors?.pattern'class="alert alert-danger">
        La couleur doit prendre le format suivant #xxxxxx avec x entre 0 et 9 ou entre a et f
      </div>
    </label>

    <label>
      <input type = 'color' value = '#ffffff' formControlName = 'backgroundColor'>
    </label><br>
    <button (click)='toggleHEX(true)'>HEX</button>
    <button (click)='toggleHEX(false)'>RGB</button><br>
    <button type='submit' [disabled]='!drawingForm.valid' data-dismiss='modal' (click)='onSubmit()' routerLink="/draw">Soumettre</button>
    <button (click) = 'closeDialog()'>Fermer</button>
  </form>
</div>




