<div>
    <div id="title"> Bienvenue à Poly Dessin</div> <br>
    <button mat-raised-button (click)="openCreateDrawingDialog()">Créer un dessin</button><br>
    <button mat-raised-button (click)="openGalleryDialog()">Ouvrir la galerie</button><br>
    <button type="button" data-toggle="modal" data-target="#userGuide">Afficher le guide d'utilisation</button><br>
    <button type="button" disabled>Continuer dessin</button><br>
    <!-- Modal -->
    <div id="userGuide" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <app-guide></app-guide>
      </div>
    </div>
    </div>
</div>
