<div class="page">
    <div class="title">Bienvenue à Poly Dessin</div>
    <div class="actions">
        <div class="action shadow" (click)="openCreateDrawingDialog()">Créer Dessin</div>
        <div class="action shadow" (click)="openGalleryDialog()">Ouvrir Galerie</div>
        <div class="action shadow" data-toggle="modal" data-target="#userGuide">Afficher Guide</div>
        <div class="action shadow" *ngIf = 'localStorageLength > 0'(click)="continueDrawing()" routerLink = '/draw'>Continuer Dessin</div>
    </div>
    <!-- Modal -->
    <div id="userGuide" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <app-guide></app-guide>
            </div>
        </div>
    </div>
</div>
