<app-color
    *ngIf="isCreateDrawColorOpen"
    [color]="backgroundColor"
    [lastColors]="[]"
    (saveColor)="setCanvasColor($event)"
    (closeColor)="setIsCreateDrawColorOpen(false)"
></app-color>
<h1 mat-dialog-title>Créer un dessin</h1>
<div mat-dialog-content>
    <form [formGroup]='createDrawingForm'>
        <label>
          Largeur(px):
          <input type='number' (keydown) = 'setIsWidthChangedToTrue()' formControlName='width'><br>
          <i *ngIf = 'width.errors?.required' class="fas fa-exclamation-triangle" title = "La largeur est requise"></i>
          <i *ngIf = 'width.errors?.min' class="fas fa-exclamation-triangle" title = "La largeur doit être supérieur à 0"></i>
          <i *ngIf = 'width.errors?.max' class="fas fa-exclamation-triangle" title = "La largeur doit être inférieur à 5000"></i>
          <i *ngIf = 'width.errors?.pattern' class="fas fa-exclamation-triangle" title = "Pas de pixels en décimaux"></i><br>
          Longueur(px):
          <input type='number' (keydown) = 'setIsHeightChangedToTrue()' formControlName='height'><br>
          <i *ngIf = 'height.errors?.required' class="fas fa-exclamation-triangle" title = "La longueur est requise"></i>
          <i *ngIf = 'height.errors?.min' class="fas fa-exclamation-triangle" title = "La longueur doit être supérieur à 0"></i>
          <i *ngIf = 'height.errors?.max' class="fas fa-exclamation-triangle" title = "La longueur doit être inférieur à 5000"></i>
          <i *ngIf = 'height.errors?.pattern' class="fas fa-exclamation-triangle" title = "Pas de pixels en décimaux"></i>
        </label><br>

        <label><br>
            <button id="color-button" [ngStyle]="{ 'background-color': backgroundColor.hex() }" (click)="setIsCreateDrawColorOpen(true)">
                Couleur d'arrière plan
            </button>
        </label>
        <br/>
        <br>
        <button class = 'mat-button' type="submit" [disabled]="!createDrawingForm.valid" data-dismiss="modal" (click)="submit()" routerLink="/draw">Soumettre</button>
        <button id = "close" class = 'mat-button' mat-dialog-close>Fermer</button>
    </form>
</div>
