img{
    width : 100px;
    height : 100px;
    cursor: pointer;
}

i{
    margin-left: 5px;
}

.action-button-right{
    float:right;
}

.action-button-left{
    float:left;
}

.no-drawing{
    margin:auto;
}

.no-filter{
    margin:auto;
}



.container{
    display:flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    border-top:1px solid #ff8c00;
    border-bottom:1px solid #ff8c00;
    margin-top:5px;
}

.drawing{
    width: 150px;
    text-align: center;
    margin:10px;
}

.fa-plus{
    color:#ff8c00;
}


.fa-times{
    color:#ff8c00;
    margin-left:5px;
}

.fa-exclamation-triangle{
    color:#ff8c00;
    margin-left:5px;
}

.fa-filter{
    float:right;
    color:lightgray;
}

.loader {
    // taken from https://www.w3schools.com/howto/howto_css_loader.asp
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #000000; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin:auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }