<div class="color">
    <div>
        <canvas width="150" height="150" class="canvas-square" (click)="setColor($event)" #square> </canvas>
        <canvas width="25" height="150" class="canvas-bar" (click)="setSquareColor($event)" #bar> </canvas>
    </div>
    <div>
        <input class="slider" type="range" min="0" max="255" value="255" [(ngModel)]="colorRGBA[3]" />
        <span class="opacity-value">{{ (colorRGBA[3] * 100) / 255 | number: '1.0-0' }} %</span>
    </div>
    <div class="rgb-form">
        <div class="input-container">
            <div class="input-label">R:</div>
            <input class="rgb-input" type="number" [(ngModel)]="colorRGBA[0]" (input)="setHexWithRGB(0)" />
        </div>
        <div class="input-container">
            <div class="input-label">G:</div>
            <input class="rgb-input" type="number" [(ngModel)]="colorRGBA[1]" (input)="setHexWithRGB(1)" />
        </div>
        <div class="input-container">
            <div class="input-label">B:</div>
            <input class="rgb-input" type="number" [(ngModel)]="colorRGBA[2]" (input)="setHexWithRGB(2)" />
        </div>
    </div>
    <div class="color-error" [hidden]="isRGBError == false">
        Les valeurs ne sont pas comprises entre 0 et 255
    </div>

    <div class="color-footer">
        <div>
            <div class="input-container">
                <div class="input-label">#</div>
                <input class="hex-input" type="text" [(ngModel)]="colorHex" (input)="setRGBWithHex()" maxlength="6" />
            </div>
            <div class="color-error" [hidden]="isHexError == false">
                Syntaxe invalide
            </div>
        </div>
        <div class="color-sample" [ngStyle]="{ 'background-color': '#' + toHex(colorRGBA, true) }"></div>
    </div>

    <div class="used-colors">
        <div *ngFor="let color of usedColors">
            <div class="used-color" *ngIf="color" [ngStyle]="{ 'background-color': color }" (mousedown)="useColor($event, color)"></div>
        </div>
    </div>
    <div class="confirm-button" (click)="confirmColor()">
        Confirmer
    </div>
    <div class="cancel-button" (click)="closeColorWindow()">
        Annuler
    </div>
</div>
