.previewImg{
    display: inline-block;
}

img{
    border:1px solid black;
}

.mat-dialog-content{
    text-align: center;
    align-content: center;;
}

.mat-button{
    margin-left: 30px;
    margin-right: 30px;
}

