<h1 mat-dialog-title>Exporter un dessin</h1>
<div mat-dialog-content>
  
    <form [formGroup]="exportDrawingForm">
        <p>Nom du fichier:</p>
        <label>
            <input type="text"  formControlName="name" >
            <i *ngIf = 'name.errors?.required' class="fas fa-exclamation-triangle" title = "Le nom est requis!"></i>
        </label>
        <p>Format:</p>
        <label>
          <input type="radio" value="png" formControlName="type" >
              <span>png</span>
        </label>
        <label>
          <input type="radio" value="jpeg" formControlName="type">
            <span>jpeg</span>
        </label>
        <label>
          <input type="radio" value="svg+xml" formControlName="type">
          <span>svg</span>
          <i *ngIf = 'type.errors?.required' class="fas fa-exclamation-triangle" title = "Le format est requis!"></i><br>
        </label><br>

      
      <p>Options: <i *ngIf = 'option.errors?.required' class="fas fa-exclamation-triangle" title = "L'option est requise!"></i></p>

      <!--Option 1: Export Seulement-->
      <label>
        <input type="radio" value="one" formControlName="option" (click) = "setIsEmail(false)">
            <span>Exporter le dessin</span><br>
            
      </label><br>

      
       <!--Option 2: Exporter et envoyer par Email -->
      <label>
        <input type="radio" value="two" formControlName="option" (click) = "setIsEmail(true)">
          <span>Envoyer par email</span><br>
          <div *ngIf = "isEmail">
            <label for="option 2">Entrer un email valide</label><br>
            <input type="email" formControlName="email" placeholder="email@exemple.com" > 
            <i *ngIf = 'email.errors?.required' class="fas fa-exclamation-triangle" title = "Le courriel est requis!"></i>
            <i *ngIf = 'email.errors?.pattern' class="fas fa-exclamation-triangle" title = "Un courriel du type email@exemple.com est requis!"></i><br>
          </div>
      </label><br>

        <label> 
          <p>Filtres:</p>
          <select id = 'filter' formControlName = 'filter'>
            <option value = ''>Aucun</option>
            <option value = '1'>Brouiller</option>
            <option value = '2'>Niveau de gris</option>
            <option value = '3'>Inverser couleurs</option>
            <option value = '4'>Saturer</option>
            <option value = '5'>Eroder</option>
          </select>
        </label><br>
        <button class = "mat-button" (click) = 'submit()' [disabled] = '!exportDrawingForm.valid'>Confirmer</button>
        <button class = "mat-button" id = "close" mat-dialog-close>Annuler</button>
     </form>
</div>

