<div class="configuration">
    <div class="configuration-title">
        Épaisseur
    </div>
    <input class="slider" value="thickness" (input)="setThickness($event)" type="range" min="1" max="50" />
    <div class="configuration-value">{{ thickness }} px</div>
</div>

<div class="configuration">
    <div class="configuration-title">
        Tracé
    </div>
    <div class="rectangle-style-boxes">
        <i class="far fa-square rectangle-style-box" title='Contours seulement' (click)="setRectangleType('outline only')" [ngClass]="{ active: rectangleType == 'outline only' }"></i>
        <i class="fas fa-square rectangle-style-box" title='Contours et intérieur' (click)="setRectangleType('outline and fill')" [ngClass]="{ active: rectangleType == 'outline and fill' }"></i>
        <i class="fas fa-fill-drip rectangle-style-box" title='Intérieur seulement' (click)="setRectangleType('fill only')" [ngClass]="{ active: rectangleType == 'fill only' }"></i>
    </div>
</div>
