.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #363636;
    height: 100%;
    width: 52px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 2;
}
.sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

.sidebar-dropdown-option,
.sidebar-option {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.sidebar-dropdown-option {
    background-color: #696969;
}

.sidebar-option {
    background-color: #363636;
}

.sidebar-dropdown-option:hover {
    background-color: #a5a5a5;
}

.sidebar-option:hover {
    background-color: #2b2b2b;
}
.sidebar-option.active,
.sidebar-dropdown-option.active {
    background-color: #ff8c00;
}

.sidebar-dropdown {
    overflow: hidden;
    height: 0px;
}

.sidebar-dropdown.active {
    height: auto;
}

.fa-sort-down {
    font-size: 10px;
    color: white;
    margin-left: 3px;
}
