<div class="configuration">
    <div class="configuration-title">
        Épaisseur
    </div>
    <input class="slider" value="thickness" (input)="setThickness($event)" type="range" min="1" max="50" />
    <div class="configuration-value">{{ thickness }} px</div>
</div>
<!-- TODO: Ajouter slider pour choisir l'épaisseur de la junction -->

<div class="configuration">
    <div class="configuration-title">
        Type Jonction
    </div>
    <div class="lineoption-boxes">
        <i class="fas fa-grip-lines-vertical lineoption-box" (click)="setLineHasJunction(false)" [ngClass]="{ active: lineHasJunction == false }"></i>
        <i class="fas fa-vector-square lineoption-box" (click)="setLineHasJunction(true)" [ngClass]="{ active: lineHasJunction == true }"></i>
    </div>
</div>

<div class="configuration" *ngIf="lineHasJunction">
    <div class="configuration-title">
        Épaisseur Jonction
    </div>
    <input class="slider" value="lineJunctionThickness" (input)="setLineJunctionThickness($event)" type="range" min="1" max="50" />
    <div class="configuration-value">{{ lineJunctionThickness }} px</div>
</div>
