.fa-plus{
    color:#ff8c00;
}


.fa-times{
    color:#ff8c00;
    margin-left:5px;
}

.fa-exclamation-triangle{
    color:#ff8c00;
    margin-left:5px;
}

.alert-warning{
    color:white;
    background: #ff8c00;
    border:none;
}

#close{
    float: right;
}