<div class="header">User Guide</div>
<div class="main-body">
    <div class="toolbar">
        <div class="content-table">
            <div class="item">
                <div type="button" class="category">Catégorie</div>
            </div>
            <div class="item">
                <div class="subject">Sujet</div>
            </div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
    <div class="text-area">
        Text area
    </div>
</div>


