<div class="header">User Guide</div>
<div class="main-body">
    <div class="toolbar">
        <div class="content-table">
            <div class="item">
                <div class="subject">Bienvenue</div>
            </div>
            <div class="item">
                <div type="button" class="category" id="category1" (click)="collapse('category1')">Catégorie</div>
            </div>
            <div class="category-items" id="category1-list">
                <div class="item">
                    <div class="subject">Sujet Cat1</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat1</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat1</div>
                </div>
            </div>
            <div class="item">
                <div class="subject">Sujet</div>
            </div>
            <div class="item">
                <div class="subject">Sujet</div>
            </div>
            <div class="item">
                <div type="button" class="category" id="category2" (click)="collapse('category2')">Catégorie</div>
            </div>
            <div class="category-items" id="category2-list">
                <div class="item">
                    <div class="subject">Sujet Cat2</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat2</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat2</div>
                </div>
            </div>
            <div class="item">
                <div type="button" class="category" id="category3" (click)="collapse('category3')">Catégorie</div>
            </div>
            <div class="category-items" id="category3-list">
                <div class="item">
                    <div class="subject">Sujet Cat3</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat3</div>
                </div>
                <div class="item">
                    <div class="subject">Sujet Cat3</div>
                </div>
            </div>
            <div class="item">
                <div class="subject">Sujet</div>
            </div>
        </div>
    </div>
    <div class="text-area">
        Text area
    </div>
</div>


