
<div class="header">Guide Utilisateur</div>
<div class="main-body">
    <div class="toolbar">
        <div class="content-table">
            <div class="item">
                <div class="subject" id="bienvenue" (click)="displayTextSubject('bienvenue')" [ngClass]="{ active: currentText == 'bienvenue'}">Bienvenue</div>
            </div>
            <div class="item">
                <div class="subject" id="dessin" (click)="displayTextSubject('dessin')" [ngClass]="{ active: currentText == 'dessin'}">Créer un dessin</div>
            </div>
            <div class="item">
                <div class="subject" id="galerie" (click)="displayTextSubject('galerie')" [ngClass]="{ active: currentText == 'galerie'}">Galerie</div>
            </div>
            <div class="item">
                <div class="category" id="outils" (click)="displayCategory('outils')">Outils</div>
            </div>
            <div class="category-items" id="outils-list" [ngClass]="{ active: currentCategory == 'outils'}">
                <div class="item">
                    <div class="subject" id="crayon" (click)="displayTextSubject('crayon')" [ngClass]="{ active: currentText == 'crayon'}">Crayon</div>
                </div>
                <div class="item">
                    <div class="subject" id="pinceau" (click)="displayTextSubject('pinceau')" [ngClass]="{ active: currentText == 'pinceau'}">Pinceau</div>
                </div>
                <div class="item">
                    <div class="subject" id="ligne" (click)="displayTextSubject('ligne')" [ngClass]="{ active: currentText == 'ligne'}">Ligne</div>
                </div>
                <div class="item">
                    <div class="subject" id="rectangle" (click)="displayTextSubject('rectangle')" [ngClass]="{ active: currentText == 'rectangle'}">Rectangle</div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-area" [ngSwitch]="currentText">
        <div class="subject-text" id="page-bienvenue" *ngSwitchCase="'bienvenue'">
            <h1>Bienvenue</h1>
            <p>Ceci est la page de présentation du guide utilisateur, celui-ci a pour but de vous guider dans l'utilisation de Polydessin.
            <br />Le guide utilisateur est accessible a partir de la page d'acceuil (bouton "Afficher le guide d'utilisation") ainsi que de la page de dessin (bouton <i class="far fa-question-circle"></i>)
             et peut-être fermé en cliquant en dehors de la fenêtre du guide.
            </p>
            <h3>Sujets</h3>
            <p>La liste des sujets abordés se situe sur le côté gauche de la fenêtre du guide, certains d'entre-eux sont rassemblés par catégorie.
            <br />Pour afficher le contenu d'un sujet, cliquez sur le nom du sujet dans la partie gauche de la fenêtre du guide. Cliquer sur une catégorie (<b>nom en gras</b>) permet de révéler les sujets appartenant à cette catégorie.
            <br />Il est possible de naviguer entre les sujets avec les boutons "Précédent" et "Suivant" situés au bas de la page su sujet actuel.
            </p>
            <div class="footer">
                <button class="button right" (click)="displayTextSubject('dessin')"><span>Suivant</span></button>
            </div>
         </div>
         <div class="subject-text" id="page-dessin" *ngSwitchCase="'dessin'">
            <h1>Créer un dessin</h1>
            <p>Il est possible de créer un nouveau dessin en appuyant sur le bouton "Créer un dessin" sur la page principale.<br />
            Pour créer un dessin, il suffit de remplir le formulaire qui permet de modifier les dimensions et la couleur d'arrière plan du dessin.<br />
            Compléter le formulaire emmène sur la page de dessin. Les outils de dessin se trouvent dans la partie gauche de la vue de dessin.<br />
            Il est possible d'ouvrir le modal de création de dessin avec le raccourci "CTRL + O".
            </p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('bienvenue')"><span>Précédent</span></button>
                <button class="button right" (click)="displayTextSubject('galerie')"><span>Suivant</span></button>
            </div>
        </div>
        <div class="subject-text" id="page-galerie" *ngSwitchCase="'galerie'">
            <h1>Galerie</h1>
            <p>La page de Galerie peut-être accédée en appuyant sur le bouton "Ouvrir la galerie" sur la page d'acceuil.<br /> La page de Galerie n'est pas encore implémentée.</p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('dessin')"><span>Précédent</span></button>
                <button class="button right" (click)="displayTextSubject('crayon')"><span>Suivant</span></button>
            </div>
        </div>
        <div class="subject-text" id="page-crayon" *ngSwitchCase="'crayon'">
            <h1>Crayon</h1>
            <p>L'outils crayon permet de dessiner des traits avec des épaisseurs différentes.<br />
                Le crayon est accessible en appuyant sur la touche "C", l'épaisseur du trait est modifiable en utilisant la glissière.<br />
                Pour dessinner un trait, un clic gauche maintenu suffit. Le crayon utilise la couleur principale.
                </p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('galerie')"><span>Précédent</span></button>
                <button class="button right" (click)="displayTextSubject('pinceau')"><span>Suivant</span></button>
            </div>
        </div>
        <div class="subject-text" id="page-pinceau" *ngSwitchCase="'pinceau'">
            <h1>Pinceau</h1>
            <p>L'outils pinceau permet de dessiner des traits avec des textures différentes.<br />
            Le pinceau est accessible en appuyant sur la touche "W", les textures et l'épaisseur du trait sont accessibles dans la barre de l'outils pinceau.<br />
            Pour dessinner un trait, un clic gauche maintenu suffit. Le pinceau utilise la couleur principale.
            </p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('crayon')"><span>Précédent</span></button>
                <button class="button right" (click)="displayTextSubject('ligne')"><span>Suivant</span></button>
            </div>
        </div>
        <div class="subject-text" id="page-ligne" *ngSwitchCase="'ligne'">
            <h1>Ligne</h1>
            <p>L'outils ligne permet de tracer une ligne d'un ou plusieurs segments.
                <br />Pour ce faire, séléctionnez l'option ligne dans la barre d'outils (<i class="fas fa-grip-lines"></i>) ou pesez sur la touche "L".
                <br />Une fois l'outils séléctionné, un clic définis le début de la ligne et chaque clic suivant forme un segment connecté au clic précédant.<br />
                Un double-clic permet de terminer la ligne.
                </p>
                <h4>Alignement</h4>
                <p>Il est possible de créer des segments aligés avec l'axe des X et des angles multiple de 45 degrés en gardant la touche "Shift" enfoncée</p>
                <h4>Annuler</h4>
                <p>Il est possible d'annuler le tracage complet avec la touche "Escape" ou de supprimer le dernier point avec la touche "Backspace".
                </p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('pinceau')"><span>Précédent</span></button>
                <button class="button right" (click)="displayTextSubject('rectangle')"><span>Suivant</span></button>
            </div>
        </div>
        <div class="subject-text" id="page-rectangle" *ngSwitchCase="'rectangle'">
            <h1>Rectangle</h1>
            <p>L'outils rectangle permet de dessiner des formes rectangulaires.
            <br />Pour ce faire, séléctionnez l'option rectangle dans la barre d'outils (<i class="sidebar-dropdown-option fas fa-stop"></i>) ou pesez sur la touche "1".
            <br />Une fois l'outils séléctionné, un glisser-déposer permet de dessiner un rectangle.
            </p>
            <h4>Épaisseur</h4>
            <p>L'épaisseur du contour du rectangle peut-être modifée avec la glissière "Épaisseur".</p>
            <h4>Styles</h4>
            <p>3 styles de rectangles sont disponibles:
            <br />  - Contour: seul les contours du rectangle sont dessinés. (<i class="far fa-square"></i>)
            <br />  - Plein avec contour: l'intérieur et les contours du rectangle sont dessinés. (<i class="fas fa-square"></i>)
            <br />  - Plein: seul l'intérieur du rectangle est dessiné. (<i class="fas fa-fill-drip"></i>)
            </p>
            <h4>Couleur</h4>
            <p>La couleur principale définie la couleur de l'intérieur du rectangle.
            <br />La couleur secondaire définie la couleur du contour du rectangle.
            </p>
            <h4>Carré</h4>
            <p>Il est possible de dessiner un carré plutôt qu'un rectangle en maintenant enfoncée la touche "Shift".
            </p>
            <div class="footer">
                <button class="button left" (click)="displayTextSubject('ligne')"><span>Précédent</span></button>
            </div>
        </div>
    </div>
</div>