.category:hover, .subject:hover {
    color: #ff8c00;
}

.toolbar { 
    background: #363636;
    width: 15%;
    height: 90vh;
    float: left;
    overflow: auto;
    border-right:1px solid #ff8c00;
}

.content-table {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    background: #363636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: #ff8c00 0.5px solid;
    cursor: pointer;
    width: auto;
    min-height: 30px;
    padding: 5px;
    padding-left: 10px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 30px;
    width: auto;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.category-items {
    display: none;
    overflow: hidden;
    margin-left: 10px;
}

.category-items.active {
    display: block;
}

.subject {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 30px;
    width: auto;
    color: white;
    cursor: pointer;
}

.subject.active {
    color: #ff8c00;
}

.subject-text {
    display: block;
}

.header {
    color: white;
    background: #363636;
    height: 40px;
    line-height: 40px;
    font-size: 1.25rem;
    top: 0px;
    z-index: 10;
    font-family: myriad-pro,'Myriad Pro',sans-serif;
    border-bottom: 1px solid rgb(48, 46, 64);
    padding: 0px 0px 0px 1em;
    transition: none 0s ease 0s;
}

.main-body {
    border-top: 0.5px solid #ff8c00;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-area {
    background-color: #363636;
    color:white;
    float: right;
    width: 85%;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
    border: none;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.button {
    color: #363636; 
    border: 2px solid #363636;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ff8c00;
    color: white;
  }

  .right {
      float: right;
  }

  .left {
      float: left;
  }

  .footer {
    border-top: 1px solid rgb(48, 46, 64);
  }
